.header {
  margin:0 auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden; /*чтобы синий квадрат не вылезал за пределы header вниз при масштабировании*/
}