.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin:0;
  padding-top: 5px;
  white-space: nowrap; /*чтобы при сжатии окна не было переноса на новую строку*/
  font-weight: bold;
}