.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color:  #1f1f1f;
  margin-top:20px;
  margin-bottom:16px;
  margin-left:0;
  margin-right:0;
}